.idea/
dist/
node_modules/
*.iml
**/coverage/
.npmrc
/.kube/
/.docker/
tactic/app/debug/pycharm-debug.egg
*.pyc
.coverage
**/.mypy_cache
manual/python/test_results
e2e-test/reports/
venv/
venv3/
**/target
/.apt_generated_tests/
/.apt_generated/


### Maven Related ###
target/
*/*/target/*
*/target/*
!.mvn/wrapper/maven-wrapper.jar

### STS/Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Mac
.DS_Store

#class files
*.class

#log files
*.log

#migration files
*.ddl

# Untracked specific application files and directories:
**/.mypy_cache
manual/python/test_results
e2e-test/reports/
venv/
venv3/
**/target

### Maven Related ###
target/
*/*/target/*
*/target/*
!.mvn/wrapper/maven-wrapper.jar

### STS/Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Mac
.DS_Store

#class files
*.class

#log files
*.log

#migration files
*.ddl

